.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin:0px;
  padding: 0px;
  background-color: #cecece;
}

/* nav */
.navbar {
  background-color:#007cc7;
  height: ;
  z-index: 100;

}

.navbar-inner {
  background:  ;
  display:flex;
  align-items: ;
  justify-content: ;
  padding:10px;
  margin:0px;
}

.burger {
  background:;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0px;
  margin-right:0px;
  background: ;
  border:none;

}

.burger div {
  display:flex;
  flex-direction: column;
  border:none;

}
.burger span {
  position: relative;
  background: #f3f3f3;
  height: 5px;
  width: 35px;
  margin:3px;
}

.social-link-container {
display:flex;
flex-direction: column;
left: 0;
top: 15%;
position: fixed;



}

.social-link-container a {
margin: 5px 0px;

 }

 .social-link-container img {
   opacity: .9;
 }

 .nav-links {
   display:flex;
   flex-direction: ;
   justify-content: center;
   align-items: center;
 }



 .nav-links a {
   color: #f3f3f3;
   letter-spacing: 1px;
   font-size: 15px;
   font-weight: 600;
   margin: 1rem;
   text-decoration: none !important;


 }

 .nav-links a:hover {
  background:rgba(153, 153, 153, 0.308);
  border-radius: 5px;
  width: 150px;
 }
 .nav-links a:active {
  text-decoration: none !important;

 }

.collapse-container {

  margin:3rem 0rem;
  height: ;
width: 100%;
  background-color: ;
  border:none;
  height: ;
}

.nav-item {
  margin: 2rem 0rem;
}

 .navbar-collapse {
  margin: 1rem 0rem;
 }

 .link-wrap {
position: ;
 }

 .link-wrap
  {
   margin: 0rem 1rem;
 }
 .img__img {
  height: 50px;
  position: absolute;
  display: none;
 }

 .img__description {
  visibility: ;
  position: ;
  opacity: 1;

 }

 .link-wrap:hover .img__description {
   visibility: visible;
   opacity: 1;
 }
 .link-wrap:hover .img__img {
  display: none;
}

.so {
position: fixed;
top:0
}


.so  img {
  opacity: .9;
}
 /* nav */

/*About */


.home-text h1 {
  font-weight: 700;
  font-size: 5rem;
}
.home-text {
  padding: 5rem 0rem;
}

.bio-container {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 100px;
  color:#e6e6e6;
  height: 50vh;
  background: linear-gradient(to bottom, hsl(201, 93%, 70%) 30%, #203647 100%);
  font-size: 18px;
}

.bio-container img {
  margin:-100px 0px 0px 0px;
  width: auto;
  height: 200px;
  object-fit: cover;
}

/* About */








/*Projects*/
.project-tile {
  border-radius: 5px;
  background:rgba(153, 153, 153, 0.308);
  height: 100%;
  padding:0px 5px;
  margin:1rem 0rem;

}

.project-tile img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-desc {
  padding:2rem 0rem;

}

.project-buttons button{
  margin: 2rem .5rem;
  font-size: 18px;
  width: 100px;
  height: 50px;
}

/*Projects*/
