.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin:0px;
  padding: 0px;
  background-color: #cecece;
}

/* nav */
.navbar {
  background-color:#06BC9B;
  height: ;
  z-index: 100;

}

.navbar-inner {
  background:  ;
  display:flex;
  align-items: ;
  justify-content: ;
  padding:10px;
  margin:0px;

}

.burger {
  background:;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0px;
  margin-right:0px;
  background: ;
  border:none;

}

.burger div {
  display:flex;
  flex-direction: column;
  border:none;

}
.burger span {
  position: relative;
  background: #f3f3f3;
  height: 5px;
  width: 35px;
  margin:3px;
}

.social-link-container {
display:flex;
flex-direction: column;
left: 0;
top: 15%;
position: fixed;



}

.social-link-container a {
margin: 5px 0px;

 }

 .social-link-container img {
   opacity: .9;
 }

 .nav-links {
   display:flex;
   flex-direction: ;
   justify-content: center;
   align-items: center;
 }



 .nav-links a {
   color: #f3f3f3;
   letter-spacing: 1px;
   font-size: 15px;
   font-weight: 600;
   margin: 1rem;
   text-decoration: none !important;


 }

 .nav-links a:hover {
  background:rgba(153, 153, 153, 0.308);
  color:#f3f3f3;
  border-radius: 5px;
  width: 150px;
 }
 .nav-links a:active {
  text-decoration: none !important;

 }

.collapse-container {

  margin:3rem 0rem;
  height: ;
width: 100%;
  background-color: ;
  border:none;
  height: ;
}

.nav-item {
  margin: 2rem 0rem;
}

 .navbar-collapse {
  margin: 1rem 0rem;
  border-top: 0px transparent solid !important;
  box-shadow: none !important;
 }

 .first-link {
  border-bottom:solid 1px rgba(255, 255, 255, 0.212);
  width: 100%;
 }

 .first-link a {
   position: relative;
 }
 .last-link {
  border-top:solid 1px rgba(255, 255, 255, 0.212);
  width: 100%;
 }

 .link-wrap
  {
    display:flex;
    justify-content: center;
    align-items: center;
   margin: 0rem 1rem;
 }
 .img__img {
  height: 50px;
  position: absolute;
  display: none;
 }

 .img__description {
  visibility: ;
  position: ;
  opacity: 1;

 }

 .link-wrap:hover .img__description {
   visibility: visible;
   opacity: 1;
 }
 .link-wrap:hover .img__img {
  display: none;
}

.so {
position: fixed;
top:0
}


.so  img {
  opacity: .9;
}

.navbar-brand-logo img {
  width: 35px;
}
 /* nav */

/*About */
.about-container {
  /* for row padding from bootstrap */
  margin-top:-20px;
  background-color: ;
}

.home-text h1 {
  font-weight: 700;
  font-size: 4rem;
}
.home-text h3 {
  line-height: 35px;
}

.home-text {
  background-image: url('./images/cubes.png');
  text-align: ;
  height: 80vh;
  display:;
  flex-direction: column;
  justify-content: center;
  align-self: center;


}

.about-container button {
  align-self: center;
  background-color: #06BC9B;
  border: none;
  width: 200px;
  margin-top: -200px;
}

.bio-container img {
  height: 150px;
  width: auto;

}

.bio-container p {
  margin-top: 3rem;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;

}

.bio-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #06BC9B 100%);
  margin-top:-20px;


}

/* About */








/*Projects*/
.project-tile {
  border-radius: 5px;
  background:rgba(51, 180, 94, 0.075);
  height: 100%;
  padding:0px 0px;
  margin:1rem 0rem 2rem 0rem;

}

.project-tile-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-desc {
  padding:.5rem 0rem;

}

.project-tile p {
  letter-spacing: 1px;
  line-height: 25px;
  padding: 10px;
}

.project-buttons button{
  margin: 2rem .5rem;
  font-size: 18px;
  width: 100px;
  height: 50px;
  background: #06BC9B;
  border:none;
}

.language-image-container {
  margin: 1rem 0rem 0rem 0rem;
  height: 50px;
}

.language-image-container img{
  height: 100%;
  width: auto;
  margin: 0rem 1rem;
}
/*Projects*/


/* */
.footer-container {
  background: #706d69;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

.footer-container div {
  margin: 1rem 0rem;
}

.footer-text {
  color: #f3f3f3;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 0 0px !important;
}

.footer-container img {
  width: 45px;
  margin: 0px 10px;
  padding:0px;
}

.link-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: ;
}

.copyright-container p {
 background-color: ;
 margin-bottom: -5px;
 color: rgba(255, 255, 255, 0.329);

}

.arrow-container {
  background: ;
  color:#06BC9B;
  height:;
}

.glyphicon-triangle-top {
  font-size: 50px;
}


/* */
