.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin:0px;
  padding: 0px;
  background-color: #f3f3f3;
}

/* nav */

.initials {
  color:#f3f3f3;
  font-size: 20px;
  font-weight: 500;
  width: 50px;
  text-shadow: 1px 1px rgb(156, 156, 156);
  margin: 0px 0px 0px !important;

  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

.nav-container {
  background-color: #06BC9B;
  height: 60px;

}

.navbar-brand-logo {

  margin-right: auto;
  align-self: center;
}

.navbar-brand-logo a {
  text-decoration: none !important;
  color:#f3f3f3;
  margin-right: auto;
  position: absolute;
  z-index: 200;

}


.navbar {
  z-index: 100;
  min-height: 60px !important;


}

.navbar-inner {
  padding:0px;
  margin:0px;
  display:flex;
  justify-content: space-around;
  align-items: center;

}

.burger {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0px;
  margin-right:0px;
  border:none;

}

.burger div {
  display:flex;
  flex-direction: column;
  border:none;

}
.burger span {
  position: relative;
  background: #f3f3f3;
  height: 5px;
  width: 35px;
  margin:3px;
}

.social-link-container {
display:flex;
flex-direction: column;
left: 0;
top: 15%;
position: fixed;



}

.social-link-container a {
margin: 5px 0px;

 }



 .nav-links {
   display:flex;
   justify-content: center;
   align-items: center;
 }



 .nav-links a {
   color: #f3f3f3;
   letter-spacing: 1px;
   font-size: 15px;
   padding: 5px;
   font-weight: 600;
   margin: 0rem 2rem;
   text-decoration: none !important;


 }

 .nav-links a:hover {
  background:rgba(153, 153, 153, 0.308);
  color:#f3f3f3;
  border-radius: 5px;
  width: auto;

 }
 .nav-links a:active {
  text-decoration: none !important;

 }

.collapse-container {
  margin:3rem 0rem;
  height: 100%;
  width: 100%;
  border:none;

}

.nav-item {
  margin: 2rem 0rem;
}

 .navbar-collapse {
  margin: 1rem 0rem;
  border-top: 0px transparent solid !important;
  box-shadow: none !important;

 }

 .first-link {
  border-bottom:solid 1px #f3f3f39f;
  width: 100%;
 }

 .first-link a {
   position: relative;
 }
 .last-link {
  border-top:solid 1px #f3f3f39f;
  width: 100%;
 }

 .link-wrap
  {
    display:flex;
    justify-content: center;
    align-items: center;
   margin: 0rem 1rem;
 }

.navbar-brand-logo  {
  width: 35px;


}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
  }

  .first-link, .last-link {
    border-bottom: none;
    border-top: none;
   }

   .navbar-collapse {
    margin-left: auto;
   }
}

 /* nav */

/*About */
.about-container {
  /* for row padding from bootstrap */
  margin-top:0px;
}

.home-text h1 {
  font-weight: 700;
  font-size: 4rem;
}
.home-text h3 {
  line-height: 35px;
}

.home-text {
  background-image: url('./images/cubes.png');
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;


}

.about-container button {
  align-self: center;
  background-color: #06BC9B;
  border: none;
  width: 200px;
  margin-top: -200px;
}


.bio-container img {
  height: auto;
  width: 150px;


}

.bio-container p {
  margin-top: 3rem;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;

}

.bio-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff 0%, #06BC9B 100%);
  margin-top:-20px;


}

@media screen and (min-width: 574px) {
  .bio-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media screen and ( min-width: 668px) {
  .home-text {
    height: 50vh;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  #06BC9B;
    margin-top:-20px;
    height:50vh;


  }
}

@media screen and ( min-width: 1124px) {
  .home-text {
    height: 80vh;
  }

  .bio-container {
    display: flex;
    justify-content: center;
    background:  #06BC9B;
    margin-top:-20px;
    height: 50vh;


  }
}

/* About */








/*Projects*/
.project-container {
  margin: 5rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio {
  margin-bottom: 3rem;
}

.project-tile {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #2f425798;
        box-shadow: 0 0 3px #2f425798;
  height: 100%;
  margin:1rem 0rem 2rem 0rem;


}

.project-tile-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-desc {
  padding:.5rem 0rem;


}

.project-tile p {
  letter-spacing: 1px;
  line-height: 25px;
  padding: 10px;
}

.project-buttons button{
  margin: 2rem .5rem;
  font-size: 18px;
  width: 100px;
  height: 50px;
  background: #06BC9B;
  border:none;
}

.language-image-container {
  margin: 1rem 0rem 0rem 0rem;
  height: 50px;
}

.language-image-container img{
  height: 100%;
  width: auto;
  margin: 0rem 1rem;
}
/*Projects*/


/* */
.footer-container {
  background:  #2f4257;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

}

.footer-container div {
  margin: 1rem 0rem;
}

.footer-text {
  color: #f3f3f3;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 0 0px !important;
}

.footer-container img {
  width: 45px;
  margin: 0px 10px;
  padding:0px;
}

.link-container {
  display:flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.copyright-container p {
 margin-bottom: -5px;
 color: rgba(255, 255, 255, 0.329);

}

.arrow-container {
  color: #06BC9B !important;
  cursor: pointer;
  text-decoration: none !important;
}

.glyphicon-triangle-top {
  font-size: 50px;
}


/* */

/* contact form */
.contact-container {
  background-color: #2f4257;
  margin: 0;
  padding: 5rem 0rem;
  box-shadow: none !important;

}

.contact-header {
  color: #f3f3f3;
}

.input-style {
  width:250px;
  margin: 1rem 0rem;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;

}

.contact-button {
  font-size: 18px !important;
  width: 100px;
  height: 50px;
  background: #06BC9B !important;
  border:none !important;
}
